<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign in</title>
</head>
<body>
    <div class="form-container">
        <h1>sign in</h1>
            {% for message in messages %}
            <h5>{{message}}</h5>
            {% endfor %}
        <form action="signin" method="post">
            {% csrf_token %}
            <label for="username">username</label>
            <input type="text" name="username" required>
            <label for="firstname">firstname</label>
            <input type="text" name="firstname" required>
            <label for="lastname">lastname</label>
            <input type="text" name="lastname" required>
            <label for="email">email</label>
            <input type="email" name="email" required>
            <label for="password">password</label>
            <input type="password" name="password" required>
            <label for="conformpassword">conform password</label>
            <input type="password" name="conformpassword" required>
            <button type="submit">submit</button>
        </form>
    </div>
</body>
</html>